# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.output
.bmad-core
.cursor
.cline*
.gemini
.trae
.windsurf
stats.html
stats-*.json
.wxt
web-ext.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.kilocodemodes
.github/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
.vscode
# OS specific

# Task files
# tasks.json
# tasks/ 
gemini.md